/* E76D26
F7BEA9
7C7B7A
858858
150C06

font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif; */

/* GENERAL SETTINGS */
* {
    margin:0; 
    padding:0; 
    box-sizing:border-box;
   }
   html {
       height: 100%;
   }
body{
    height: 100%;
    background-color: transparent;
}
h4 {
    font-weight: 700;
    font-size: 1rem;
}
.bg { 
    background-image: url("flamingo.jpg");
    background-color: #150C06;
    height: 100%; 
    width: 100%;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

/* LEFT COLUMN */
.left{
    width: 25%;
    height: 100%;
    display: flex;
    flex-flow: column;
    padding: 1rem 0 1rem 0;
    justify-content: space-evenly;
    align-items: center;
    border-right: solid 0.2rem hsla(30, 1%, 48%, 50%);
    border-left: solid 0.2rem hsla(30, 1%, 48%, 50%);
}
label {
    width: 80%;
    padding: 0.2rem 0.8rem;
    margin: 0.5rem;
    border-radius: 1rem;
    background-color: #E76D26;
    text-align: center;
    text-transform: uppercase;
    color:#150C06;
    font-family: 'Montserrat', sans-serif;    
    cursor: pointer;
    filter: drop-shadow(0.2rem 0.2rem 0 hsla(30, 1%, 48%, 50%))
}
input[type="radio"] {
    display: none;
   }
   :checked + label {
    font-weight: 700;
    color:#fbf7f6;
    font-size: 1.3rem;

  }



/* RIGHT COLUMN */
.right {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.header {
    width:100%;
    color: #E65F1A;
    background-color: hsla(32, 59%, 6%, 70%);
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* INPUT SECTION */
.input{
    display: flex;
    height: 2rem;
    justify-content: center;
    margin: 0.8rem;
}
input[type="search"] {
    width: 70%;
    color: #170F06;
    background-color:#fbf7f6;
    border: 0;
    border-radius: 1rem 0 0 1rem;
    font-size: 1.3rem;
    text-align: center;
}
input[type="button"] {
    text-align: center;
    width: 5rem;
    color: #fbf7f6;
    background-color:#E76D26;
    border: 0;
    border-radius: 0 1rem 1rem 0;
    font-size: 1.5rem;
    /* font-weight: 600; */
   }
::placeholder{
    color: #7C7B7A;
}

/* RESULTS */
.results {
    display: none;
    background-color: hsla(12, 38%, 97%, 90%);
    width: 80%;
    border-radius: 2rem;
    margin: 2rem;
    padding: 3rem;
    font-family: 'Raleway', sans-serif;
    line-height: 150%;

}